body {
    margin: 0;
    padding: 0;
    background-color: #55298F;
}

p {
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    color: #eeeeee;
}

hr {
    width: 75%;
    border-color: #333333;
}

img {
    width: 50%;
    height: 50%;
    background-color: #fff;
    border-radius: 25px;
    padding: 5px;
}

input {
    background-color: #333333;
    color: #ffffff;
    font-size: 22px;
    border-radius: 25px;
    padding: 5px;
    border-style: none;
}

a {
    font-weight: bolder;
    color: #2c9d34;
    text-decoration: none;
}

button {
    background-color: #EEEEEE;
    color: #333333;
    font-size: 22px;
    border-radius: 25px;
    padding: 10px;
    border-style: none;
}

.fonts {
    font-family: 'Mali', cursive;
    font-family: 'Roboto', sans-serif;
}

.footer {
    position: fixed;
    bottom: 0%;
    background-color: #333333;
    opacity: 0.6;
    padding: 5px;
    width: 100%;
}

.p-footer {
    font-size: 20px;
}

.content {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    */
    width: 50%;
    border-style: solid;
    border-color: #333333;
    border-radius: 25px;
    background-color: #48217a;
    padding: 5px;
    margin-bottom: 10%;
    margin-top: 5%;
}

.p-title {
    font-family: 'Mali', cursive;
    font-size: 38px;
    color: #EEEEEE;
}