body {
    margin: 0;
    padding: 0;
    background-color: #7220db;
}

.content {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}